* {
    margin: 0 auto;
    padding: 0 auto;
}

body {
    background: url("../image/bg.jpg");
}

#page {
    width: 800px;
    height: 150px;
    background-color: antiquewhite;
    padding: 20px;
    clear: both;
}

h1 {
    color: blueviolet;
    font-size: 32px;
}

div p {
    margin: 50px 0 30px 0;
    color: azure;
}

p::first-line {
    color: brown;
    font-style: italic;
}

a {
    color: black;
    text-decoration: none;
}

input[type="text"] {
    background-color: yellow;
    border: none;
    padding: 10px 10px;
    color: beige;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.box {
    width: 300px;
    float: left;
    display: inline;
    background-color: blueviolet;
    color: black;
    padding: 20px;
    margin-left: 10px;
}